DOCKER_NAMESPACE = sinocalliopteryx
DOCKER_IMAGE_VERSION ?= latest
DOCKER_REPOSITORY = controller-service
DOCKER_CONTAINER_NAME = controller-service
DOCKER_INSTANCE = 1
DOCKER_PORTS = -p 3000:3000
DOCKER_MAPPED_VOLUMES = -v $(shell pwd)/src:/src
DOCKER_ENV = \
  -e NODE_ENV=development
  -e CONTROLLER_NAME=input-a
  -e SOCKET_ADDRESS=http://127.0.0.1:3001/input