NS = sinocalliopteryx
VERSION ?= latest
REPO = controller-service
NAME = controller-service
INSTANCE = controller-service
PORTS = -p 3000:3000
VOLUMES = -v /local/path:/src
ENV = \
  -e NODE_ENV=development