<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SXSW | frog</title>
    <% include partials/styles %>
  </head>
  <body>
    <section id="vizSelection">
      <h1>VISUALIZER</h1>
      <ul class="viz-list">
        <% for(var i = 0; i < all_viz.length; i++) {%>
          <li><a href="/viz/<%= all_viz[i] %>"><%= all_viz[i] %></a></li>
        <% } %>
      </ul>
    </section>
  </body>
</html>
