<!DOCTYPE html>
<html>
	<head>
		<title>3d : 003</title>
		<% include ../partials/styles %>
	</head>
	<body>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/assets/three/build/three.min.js"></script>
    <script src="/assets/gsap/tweenMax.min.js"></script>
		<script src="/assets/three/examples/js/shaders/CopyShader.js"></script>
		<script src="/assets/three/examples/js/shaders/DotScreenShader.js"></script>
		<script src="/assets/three/examples/js/shaders/RGBShiftShader.js"></script>
		<script src="/assets/three/examples/js/shaders/MirrorShader.js"></script>
		<script src="/assets/three/examples/js/shaders/KaleidoShader.js"></script>
		<script src="/assets/three/examples/js/shaders/FilmShader.js"></script>
		<script src="/assets/three/examples/js/postprocessing/EffectComposer.js"></script>
		<script src="/assets/three/examples/js/postprocessing/RenderPass.js"></script>
		<script src="/assets/three/examples/js/postprocessing/MaskPass.js"></script>
		<script src="/assets/three/examples/js/postprocessing/ShaderPass.js"></script>
		<script src="/assets/js/3d/003.js"></script>
    <script src="/assets/js/3d/002.js"></script>
    <script src="/assets/js/3d/001.js"></script>
    <script src="/assets/js/frequency/index.js"></script>
	</body>
</html>
