<!DOCTYPE html>
<html>
	<head>
		<title>sxsw : frog : 2017</title>
		<% include ./partials/styles %>
	</head>
	<body>
		<canvas id="audioCanvas"></canvas>

		<!-- KEY LIBRARIES HERE -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="/assets/three/build/three.min.js"></script>
		<script src="/assets/three/examples/js/shaders/CopyShader.js"></script>
		<script src="/assets/three/examples/js/shaders/DotScreenShader.js"></script>
		<script src="/assets/three/examples/js/shaders/RGBShiftShader.js"></script>
		<script src="/assets/three/examples/js/shaders/MirrorShader.js"></script>
		<script src="/assets/three/examples/js/shaders/KaleidoShader.js"></script>
		<script src="/assets/three/examples/js/shaders/FilmShader.js"></script>
		<script src="/assets/three/examples/js/shaders/FXAAShader.js"></script>
		<script src="/assets/three/examples/js/postprocessing/EffectComposer.js"></script>
		<script src="/assets/three/examples/js/postprocessing/RenderPass.js"></script>
		<script src="/assets/three/examples/js/postprocessing/MaskPass.js"></script>
		<script src="/assets/three/examples/js/postprocessing/ShaderPass.js"></script>

		<!-- APP UTILITY: USED TO REGISTER AND QUEUE VISUALIZATIONS -->
		<script src="/assets/js/app.js"></script>

		<!-- ADD VISUALIZATION SCRIPTS HERE -->
		<script src="/assets/js/3d/plane.js"></script>
		<script src="/assets/js/3d/swirl.js"></script>

    <script src="/assets/js/3d/frequency.js"></script>
    <script src="/assets/js/3d/randomBars.js"></script>


		<!-- RUN THE PLAYER -->
		<script>
			window.VIZ.loadTextures(window.VIZ.play);
		</script>
	</body>
</html>
