DOCKER_NAMESPACE = sinocalliopteryx
DOCKER_IMAGE_VERSION ?= latest
DOCKER_REPOSITORY = distributor-service
DOCKER_CONTAINER_NAME = distributor-service
DOCKER_INSTANCE = 1
DOCKER_PORTS = -p 3001:3001
DOCKER_MAPPED_VOLUMES = -v $(shell pwd)/src:/src
DOCKER_ENV = \
	-e NODE_ENV=development \
