<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frequency</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
  </head>
  <body>
    <canvas id="audioCanvas"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/frequency/index.js"></script>
  </body>
</html>
