<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frequency</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
  </head>
  <body>
    <canvas id="audioCanvas"></canvas>
    <% include ../partials/scripts %>
    <script src="/public/js/frequency/index.js"></script>
  </body>
</html>
